<?xml version="1.0" encoding="UTF-8"?>
<launch>

    <!-- what config we are going to run (should match folder name) -->
    <arg name="verbosity"   default="INFO" /> <!-- ALL, DEBUG, INFO, WARNING, ERROR, SILENT -->
    <arg name="config"      default="iros_2023_uvio" />
    <arg name="config_path" default="$(find uvio)/../config/$(arg config)/estimator_config.yaml" />

    <!-- mono or stereo and what ros bag to play -->
    <arg name="max_cameras" default="1" />
    <arg name="use_stereo"  default="false" />

    <!-- saving trajectory path and timing information -->
    <arg name="dotime"      default="false" />
    <arg name="path_time"   default="/tmp/traj_timing.txt" />

    <!-- Nodelet -->
    <arg name="use_nodelet"             default="false"/>
    <arg name="enable_nodelet_manager"  default="false"/>
    <arg name="nodelet_manager_name"    default="nodelet_manager"/>

    <!-- Nodelet manager -->
    <group if="$(arg enable_nodelet_manager)">
        <node pkg="nodelet" type="nodelet" name="$(arg nodelet_manager_name)" args="manager" output="screen" if="$(arg use_nodelet)"/>
    </group>

    <!-- Debug server -->
    <!--<arg name="launchprefix"        default="gdbserver localhost:10000"/>-->
    <arg name="launchprefix"        default=""/>

    <!-- MASTER NODE! -->
    <node name="uvio" pkg="nodelet" type="nodelet" output="screen" args="load uvio/nodelet_uvio $(arg nodelet_manager_name)" clear_params="true" required="false" if="$(arg use_nodelet)">
        <!-- master configuration object -->
        <param name="verbosity"              type="string" value="$(arg verbosity)" />
        <param name="config_path"            type="string" value="$(arg config_path)" />

        <!-- world/filter parameters -->
        <param name="use_stereo"             type="bool"   value="$(arg use_stereo)" />
        <param name="max_cameras"            type="int"    value="$(arg max_cameras)" />

        <!-- timing statistics recording -->
        <param name="record_timing_information"   type="bool"   value="$(arg dotime)" />
        <param name="record_timing_filepath"      type="string" value="$(arg path_time)" />
    </node>

    <node name="uvio" pkg="uvio" type="uvio" output="screen" clear_params="true" required="false" launch-prefix="$(arg launchprefix)" unless="$(arg use_nodelet)">
        <!-- master configuration object -->
        <param name="verbosity"              type="string" value="$(arg verbosity)" />
        <param name="config_path"            type="string" value="$(arg config_path)" />

        <!-- world/filter parameters -->
        <param name="use_stereo"             type="bool"   value="$(arg use_stereo)" />
        <param name="max_cameras"            type="int"    value="$(arg max_cameras)" />

        <!-- timing statistics recording -->
        <param name="record_timing_information"   type="bool"   value="$(arg dotime)" />
        <param name="record_timing_filepath"      type="string" value="$(arg path_time)" />
    </node>

</launch>